html,
body {
    box-sizing: border-box;
    height: 100%;
}

h1,
h3 {
    text-align: center;
}

input {
    width: 80%;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 10px;
}

li:hover {
    color: white;
    background-color: red;
}

.body {
    /*border: 1px solid purple;*/
    display: flex;
    flex-flow: row wrap;
}

.header {
    flex: 1 100%;
}

.info {
    border: 2px solid limegreen;
    flex: 1 100%;
    padding: 10px;
}

.menu {
    border: 1px solid blue;
    flex: 1 25%;
    padding: 0 10px;
    overflow: hidden;
    height: 700px;
}

.footer {
    /*border: 2px solid black;*/
    flex: 1 100%;
    padding: 10px;
}

#map {
    border: 1px solid blue;
    flex: 3 70%;
    height: 700px;
    position: relative;
    overflow: hidden;
}